<div class="mt-8">
  <div class="w-10/12 mx-auto md:max-w-md">
  <h1>コーデを投稿しよう！</h1>
    <%= form_with model: @article do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :title %>
    <%= f.text_field :title, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-pink-500 placeholder-gray-500 placeholder-opacity-50' %>
    </div>
    <div class="mb-3">
    <%= f.label :oshi_point %>
    <%= f.text_area :oshi_point, class: "block w-full sm:w-4/8 bg-white py-2 px-3 text-gray-800 border rounded focus:outline-none focus:bg-white" %>
    </div>
    <div class="mb-3">
      <%= f.radio_button :category, Article.categories.key(3) %>
      <%= f.label t("articles.create.idol") %>
    </div>
    <div class="mb-3">
      <%= f.radio_button :category, Article.categories.key(1) %>
      <%= f.label t("articles.create.stage") %>
    </div>
    <div class="mb-3">
      <%= f.radio_button :category, Article.categories.key(2) %>
      <%= f.label t("articles.create.voice_actor") %>
    </div>
    <div class="mb-3">
      <%= f.radio_button :category, Article.categories.key(0) %>
      <%= f.label t("articles.create.other") %>
    </div>
    <div class="mb-3">
    <label class="mt-2 sm:mt-0 py-2 w-[180px] sm:w-[120px] h-8  bg-pink-300 text-white rounded-[3px] text-xs flex ">
    <span class="ml-5">画像を選択する</span> 
    <%= f.file_field :images, class: "hidden", accept: 'image/png, image/jpeg', multiple: true %>
    </label>
    </div>
    <button class="bg-gray-400 hover:bg-gray-600 text-white rounded px-4 py-2 m-3">
      <%= f.submit "投稿" %>
    </button>
    <% end %>
    </div>
</div>