<h1>詳細ページ</h1>
<div class="flex gap-4">
  <div class="flex-shrink-0">
    <% if @article.images.attached? %>
      <div class="m-6">
        <% @article.images.each do |image| %>
          <%= image_tag image, class: "rounded object-cover object-center", size: "600x200" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col justify-center">
    <h2 class="text-4xl font-bold text-gray-800 lg:text-5xl">
      <%= @article.title %>
    </h2>
    <p><%= @article.created_at %></p>
    <% if current_user.my_article?(@article) %>
        <%= link_to "編集", edit_article_path(@article) %>
        <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: '削除してもいいですか？' }%>
    <% end %>
    <%= link_to "Tweet一覧に戻る", articles_path %>
  </div>

  <!-- コメントフォーム -->
  <div class="row mb-3" >
    <div class="col-lg-8 offset-lg-2">
    <%= render "articles/form", article: @article, comment:  Comment.new %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table class="table">
      <tbody id="table-comment">
        <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <%= render 'articles/comment', comment: comment %>
        <% end %>
        <% else %>
          <div class="mb-3"></div>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
