
<div class="mt-8">
  <div class="w-10/12 mx-auto md:max-w-md">
    <h1 class= "p-2 g-col-6">
      ログイン
    </h1>
    <%= form_with model: @user  do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-pink-500 placeholder-gray-500 placeholder-opacity-50' %>

        <%= f.label :password %>
        <%= f.text_field :password, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-pink-500 placeholder-gray-500 placeholder-opacity-50' %>

      <button class="bg-gray-400 hover:bg-gray-600 text-white rounded px-4 py-2">
      <%= f.submit 'ログイン' %>
      </button>
    <% end %>
    </div>
  </div>